.basic-text-slide {
  text-align: left;
  font-size: 1.8rem;
  line-height: 1.25;
}

.demo-slide {
  font-size: 1.6rem;
  line-height: 1;
  text-align: left;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  padding: 20px;
}

:root {
  --split-layout: 'split-left split-center split-center split-right split-right';
}

.Grid-root:before {
  content: var(--grid-label);
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 0.8em;
}

.split-container {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: var(
    --split-layout
  );
}

.split-left {
  grid-area: split-left;
}

.split-center {
  grid-area: split-center;
}

.split-right {
  grid-area: split-right;
}

.BoxModel-container {
  background: orange;
  color: #000;
}

.BoxModel-border-padding-container {
  background: lightgreen;
}

.BoxModel-content {
  background: papayawhip;
}
